
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*{
    font-family: 'Changa', sans-serif;
    margin: 0;
    padding: 0;
 
}

.iconpestaña {
    border-radius: 100px;
}

html{
    scroll-behavior: smooth;
}

.inicio {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(img/portada\ cv\ .png);
     background-size: cover;
     background-position: center center;
     color: #fff;
}

.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0  10px;
}

.inicio .contenido-seccion header {
    padding: 30px;
}

.inicio .contenido-seccion header nav {
    position: fixed;
    margin-left: 60px;
    background-color: cadetblue;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido-seccion header .logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Changa', sans-serif;
    text-shadow: 0 0 35px #fff;
}

.inicio .contenido-seccion header .logo .color {
    color: cadetblue;
    font-family: 'Anton', sans-serif;
}

.inicio .contenido-seccion header .nav-bar {
    position: fixed;
    background-color: cadetblue;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.inicio .contenido-seccion header .nav-bar:hover {
    box-shadow: 0 0 35px #fff ;
}

.inicio .contenido-seccion .info {
    padding-bottom: 130px;
}

.inicio .contenido-seccion .info h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}


.inicio .contenido-seccion .info h2 {
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inicio .contenido-seccion .info  .redes {
margin:  20px 0;
}

.inicio .contenido-seccion .info .redes a {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.inicio .contenido-seccion .info .redes a:hover {
    color: #fff;
    background-color: cadetblue;
    box-shadow: 0 0 20px #fff;
}

.inicio .contenido-seccion .foto {
    position: relative;
}

.inicio .contenido-seccion .foto img {
    border-width: 200px;
    border-radius: 50%;
    border: 5px solid cadetblue;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    max-width: 20%;
}

.certificadosAPP { 
    display: block;
    width: 50px;
    text-emphasis: none;
    background-color: #5f9ea0; 
     text-decoration-color: none; 
     border-color: #5f9ea0;
    border-radius: 5px;
    padding: 2px  5px;
    color: #4b5555;
    margin: 2%;
}

.certificadoIAP { 
    display: block;
    width: 50px;
    text-emphasis: none;
    background-color: #5f9ea0; 
     text-decoration-color: none; 
     border-color: #5f9ea0;
    border-radius: 5px;
    padding: 2px  5px;
    color: #4b5555;
    margin: 2%;
}

.certificadoJA { 
    display: block;
    width: 50px;
    text-emphasis: none;
    background-color: #5f9ea0; 
     text-decoration-color: none; 
     border-color: #5f9ea0;
    border-radius: 5px;
    padding: 2px  5px;
    color: #4b5555;
    margin: 2%;
}

/*ARREGLAAAR*/


.titulo-seccion {
    font-family: 'Changa', sans-serif;
    font-size: 1.5rem;
 
}/*
.sobremi {
    background-color: #dbdbdb;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding:  0 10px;
}

.sobremi .contenido-seccion h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 15px;
}
.sobremi .contenido-seccion .especial {
    color: cadetblue;
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p {
    max-width: 700px;
    margin: auto;
    color: #a9a9a9;
}

.sobremi .contenido-seccion  .carta {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
   
}


.sobremi .contenido-seccion  .carta .col {
    width: 30%;
}

.sobremi .contenido-seccion  .carta .col i {
    color: cadetblue;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid cadetblue;
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .carta .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
*/

.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: cadetblue;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .carta{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .carta .col{
    width: 30%;
}
.sobremi .contenido-seccion .carta .col i{
    color: cadetblue;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid cadetblue;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .carta .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
/*AREGLAAAR  B*/

.habilidades {
    padding: 80px 0 100px 0;
    text-align: center;
    background-color: azure;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(img/portada\ 2\ de\ perfil.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.habilidades .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .contenido-seccion h3{
text-transform: uppercase;
font-size: 30px;
}

.habilidades .contenido-seccion .carta {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .contenido-seccion .carta .col
{
    width: 47%;
    text-align: left;
}

.habilidades .contenido-seccion .carta .col .cont-barra {
    display: flex;
    align-items: center;
}

.habilidades .contenido-seccion .barra {
    display: flex;
    border: 1px solid cadetblue;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e {
    background-color: azure;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/*AREGLAAAR TAMBIEN */

.resumen {
    background-color: #fff;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 18px;
}

.resumen .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.resumen .contenido-seccion .info {
    text-align: left;
    display: flex;
    justify-content: 30px;
}

.resumen .contenido-seccion .info .col {
    width: 45%;
}

.resumen .contenido-seccion .info .col .titulo {
    display: inline-block;
    color: cadetblue;
    font-weight: bold;
    border: 2px solid cadetblue;
    padding: 10px;
}

.resumen .contenido-seccion .info .col table {
    margin-top: 30px;
    border-collapse: collapse;
}

.resumen .contenido-seccion .info .col table .datos {
    width: 40%;
    border-bottom: 1px solid cadetblue;
}

.resumen .contenido-seccion .info .col table h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.resumen .contenido-seccion .info .col table p {
    font-size: 14px;
}

.resumen .contenido-seccion .info .col table .promedio {
    display: block;
    color: #5f9ea0;
    margin-top: 10px;
    font-weight: bold;
}

.contacto {
    background-color: rgb(180, 211, 180);
    padding: 140px 0 100px 0;
    color: #000000a4;
    text-align: center;
}

.contacto .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contacto .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.contacto .contenido-seccion .carta {
    display: flex;
    justify-content: space-around;
}

.contacto .contenido-seccion .carta .col
{
    margin-top: 50px;
}

.contacto .contenido-seccion .carta h2 {
    color: #4b5555;
}

@media  screen and (max-width:800px) {
    
.habilidades .contenido-seccion .carta {
    display: block;
}

.habilidades .contenido-seccion .carta .col {
    width: 100%;
    text-align: center;
}

.habilidades .contenido-seccion .carta .col .cont-barra {
    justify-content: center;
}

.sobremi .contenido-seccion .carta {
    display: block;
}

.sobremi .contenido-seccion .carta .col {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.resumen .contenido-seccion .info {
    display: block;
}

.resumen .contenido-seccion .info .col {
    width: 90%;
    margin: auto;
}

.resumen .contenido-seccion .info .col .titulo {
    display: block;
    text-align: center;
}

.resumen .contenido-seccion .info .col table {
    margin-top: 10px;
    margin-bottom: 30px;
}

.contacto .contenido-seccion .carta {
    display: block;
}

}











































